@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  background-color: #c69649;
}

main {
  width: 100%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  /*   background: transparent linear-gradient(|118deg, #C69749 0%, #000000BD 100%, #000000 100%) 0% 0% no-repeat padding-box;
 */
 /* background-color: #2b2a2e; */
}

/* HEADER */

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
}


header{
  width: 100%;
  height: 10vh;
  background: transparent linear-gradient( 94deg,#000000e0 0%,#010100c7 10%,#c59649 69%,#c69749 76%,#c69749 100%)0% 0% no-repeat padding-box;
  border-radius: 0px 0px 200px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* logo */

.logo{
  width: 100px;
  margin-left: 60px;
}

/* .container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
} */

a {
  color: #ffffff;
  font-size: 18px;
  transition: 0.5s;
  margin-right: 100px;
}

a:hover { 
  color: #c69749; 
  transform: scale(1.1);
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* FOOTER */

.footer-basic {
  width: 100%;
  height: 10vh;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: transparent linear-gradient(94deg,#000000e0 0%, #010100c7 10%, #c59649 69%, #c69749 76%, #c69749 100% ) 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 200px 200px;  
  padding: 1.5em;
  position: fixed;
  right: 0;
  bottom: 0;
}

.footer-iconos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -11px;
  gap: 140px;

}
/*   transform: matrix(-1, 0, 0, -1, 0, 0); */
.iconos-redes{
  width: 35px;
  height: 35px;
  transition: 0.5s;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}

.iconos-redes:hover{
  transform: scale(1.2);
} 

/* CARDS */

.cards {
  gap: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-clientes,
.card-productos, .card-proveedores {
  width: 280px;
  height: 250px;
  background-color: #000000;
  opacity: 0.35;
  box-shadow: 18px 3px 30px #00000029;
  border: 1px solid #707070;
  border-radius: 20px 20px 0px 0px;
  color: white;
  text-align: center;
}

.texto-clientes,
.texto-productos, .texto-proveedores {
  width: 280px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.817);
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

p{
  padding: 20px;
  color: #c69749;
  font-size: 15px;
}

.icono-clientes,
.icono-productos,
.icono-proveedores {
  width: 150px;
  height: 150px;
  padding-top: 20px;
}

.texto-card{
  margin: 30px;
}

.btn-acceder {
  width: 130px;
  height: 40px;
  background-color: white;
  color: #c69749;
  border-radius: 42px;
  text-align: center;
  border: none;
  transition: 0.6s ease-in-out all;
}

.btn-acceder:hover {
  background-color: #c69749;
  color: white;
  transition: 0.6s ease-in-out all;
}

/* BOTONES AGREGAR Y VER */
.btn-registrar {
  width: 200px;
  height: 60px;
  background-color: white;
  color: #c69749;
  border-radius: 42px;
  text-align: center;
  border: none;
  transition: 0.6s ease-in-out all;
  font-size: 18px;
  margin-bottom: 10px;
}

.btn-registrar:hover, .btn-ver:hover {
  background-color: #c69749;
  color: white;
  transition: 0.6s ease-in-out all;
}

.btn-ver{
  width: 200px;
  height: 60px;
  background-color: white;
  color: #c69749;
  border-radius: 42px;
  text-align: center;
  border: none;
  transition: 0.6s ease-in-out all;
  margin-top: 90px;
  font-size: 30px;
}

.btn-ver:hover{
  background-color: #c69649;
  color: white;
  transition: 0.6s ease-in-out all;
}

/* VISTAS */

.vista-clientes, .vista-productos, .vista-proveedores, .vista-principal{
  width: 96%;
  height: 90vh;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

/* ASIDE  */

aside{
  width: 10vw;
  height: 76vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  opacity: 0.35;
  box-shadow: 18px 3px 34px #00000029;
  border-radius: 150px 20px 20px 150px;
  color: white;
  gap: 35px;
  margin-top: 16px;
}

.icono-clientes, .icono-productos, .icono-proveedores {
  width: 100px;
  height: 100px;
}

h3{
  font-size: 40px;
}

/* AGREGAR CLIENTES, AGREGAR PRODUCTOS, AGREGAR PROVEEDORES */

.registro{
  width: 90vw;
  height: 76vh;
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 18px 3px 34px #00000029;
  border-radius: 20px 150px 150px 20px;
  opacity: 0.4;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.form-item{
  width: 60vw;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid #c69649;
  cursor: text;
  text-align: center;
  background: none;
  font-size: 20px;
  color: white;
}

.titulo{
  color: white;
  font-size: 40px;
}

.btn-form-clientes, .btn-form-productos, .btn-form-proveedores{
  width: 130px;
  height: 40px;
  background-color: white;
  color: #c69749;
  border-radius: 42px;
  text-align: center;
  border: none;
  transition: 0.6s ease-in-out all;
  margin-top: 30px;
  font-size: 20px;
}

.btn-form-clientes:hover, .btn-form-productos:hover, .btn-form-proveedores:hover {
  background-color: #c69749;
  color: white;
  transition: 0.6s ease-in-out all;
} 

/* TABLA-CLIENTES, TABLA PRODUCTOS, TABLA PROVEEDORES*/

.tabla-clientes, .tabla-productos, .tabla-proveedores{
  width: 80vw;
  height: 5vh;
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 18px 3px 34px #00000029;
  border-radius: 20px 20px 205px 0px;
  opacity: 0.4;
  margin: 2%;
  gap: 15%;
  margin-top: 16px;
  margin-right: 1px;
  color: white;
}


.thead, .tbody{
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}

.td-clientes, .td-productos, .td-proveedores{
  border-bottom: 1px solid #c69749;
  border-right: 1px solid #c69749;
}

.img-editar, .img-eliminar{
  width: 30px;
  height: 30px;
  margin: 10%;
}

.btn-accion{
  width: 100%;
  border: 1px solid #c69749;
}

.td-imagenes{
  width: 100%;
  border-bottom: 1px solid #c69749;
  border-right: 1px solid #c69749;
}

.img-editar, .img-eliminar {
  transition: 0.5s;
  border: none;
}

.img-editar:hover, .img-eliminar:hover {
  transform: scale(1.1);
}
