@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');


* {
  font-family: 'JetBrains Mono', monospace;
  width: 100vw;
  height: 100vh;
  background: transparent linear-gradient(118deg, #C69749 0%, #000000BD 100%, #000000 100%) 0% 0% no-repeat padding-box;
}

/* .navbar{
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 171px;
  background: transparent linear-gradient(94deg, #000000E0 0%, #010100C7 10%, #C59649 69%, #C69749 76%, #C69749 100%) 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 200px 200px;
  opacity: 1;
}

.texto-header1{
  top: 58px;
  left: 457px;
  width: 72px;
  height: 40px;
  text-align: left;
  font: normal normal 200 30px/40px JetBrains Mono;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.texto-header2{
  top: 58px;
  left: 653px;
  width: 144px;
  height: 40px;
  text-align: left;
  font: normal normal 200 30px/40px JetBrains Mono;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.texto-header3{
  top: 58px;
  left: 945px;
  width: 162px;
  height: 40px;
  text-align: left;
  font: normal normal 200 30px/40px JetBrains Mono;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.texto-header4{
  top: 58px;
  left: 1261px;
  width: 198px;
  height: 40px;
  text-align: left;
  font: normal normal 200 30px/40px JetBrains Mono;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
} */






